[Unit]
Description=The Other Half QWERTY Keyboard
Requires=dbus.service

[Service]
ExecStart=/home/nemo/test/tohkbd
Restart=always

[Install]
WantedBy=multi-user.target
